.page {
  padding: 20px;
}

.PortfolioContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: auto;
}

.buttonContainer {
  margin: 40px auto;
}