@import '../styles/colors';
@import '../styles/fonts';

.btn-req-animated {
  display: flex;
  justify-content: left;
  align-items: center;
}

.btn-req-animated:focus {
  outline: none;
}

.btn {
  width: 150px;
  height: 50px;
  border: none;
  background-color: $faceBusiness;
  font-family: $classy;
  font-size: 90%;
  color: $passiveCrane;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.admin-form-btn-container {
  margin: 20px 0;
  display: flex;
  justify-content: left;
  align-items: center;

  .btn {
    margin-right: 5px;
  }
}

.btn:disabled {
  background-color: $dyingUrchin;
}
