.heroContainer {
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  justify-content: center;
  margin: 40px 0px;
  background: grey;
}

.about {
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  justify-content: center;
  margin: 40px 0px;
  background: beige;
}