* {
  margin: 0;
  padding: 0;
}

p {
  font-size: 20px;
}

.heroContainer {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 40px 40px;
}

.homepage-image img {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 40px 40px;
}

.about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


/* @media only screen and (max-width: 600px) {
 
  .homepage-image img {
    display: none;
  }
} */