@import '../../styles/colors';

.Contact {
  border: 1px solid $faceBusiness;
  width: calc(25% - 40px);
  margin: 20px;

  h2 {
    margin: 20px;
    text-align: left;
  }

  p {
    margin-left: 20px;
    margin-right: 20px;
  }
}
