@import '../../styles/colors';
@import '../../styles/fonts';

.ContactForm {
  display: flex;
  flex-direction: column;
  
  p {
    padding-left: 1%;
  }

  // the weird justify and margin settings are because simply doing a justify-content: right refused to work. only change this if you can figure out the bug/issue
  .btn-container {
    display: flex;
    justify-content: flex-end;

    .reset-btn {
      margin-right: 10px;
      border: 1px solid $faceBusiness;
      background-color: transparent;
      color: $faceBusiness;
    }
  }
}
