@import '../../styles/fonts';

.Navbar {
  // position: fixed;
  margin: 0 10%;
  display: flex;
  justify-content: space-between;

  .logo-crop {
    height: 180px;
    
    .logo {
      width: 250px;
      height: 250px;
      object-fit: cover;
      object-position: 0 -35px;
      object-fit: cover;
    }
  }

  .links {
    display: flex;
    justify-content: center;
    align-items: center;
    
    a {
      margin: 10px;
      font-size: 16px;
      font-family: $classy;
    }
  }

  .book-and-insta {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hamburger-on {
    display: block;
    background: black;
    width: 100vw;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .hamburger-on-container {
    position: absolute;
  
  }
  
  .hamburger-off {
    display: none;
    background: green;
  }
  
  @media only screen and (max-width: 600px) {
    
    .navbar-links {
      display: none;
    }
    .hamburger-on .navbar-link{
      display: flex;
      justify-content: center;
      color: white;
      text-decoration: none;
      font-size: 30px;
      list-style-type: none;
    }
  
    #button{ 
      display: flex;
      justify-content: center;
      
    }
  
    /*Animation on Hamburger*/
    .container {
      display: inline-block;
      cursor: pointer;
    }
  
    .bar1, .bar2, .bar3 {
      width: 35px;
      height: 5px;
      background-color: #333;
      margin: 6px 0;
      transition: 0.4s;
    }
  
    /* Rotate first bar */
    .hamburger-on-container .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
      transform: rotate(-45deg) translate(-9px, 6px) ;
    }
  
    /* Fade out the second bar */
    .hamburger-on-container .bar2 {
      opacity: 0;
    }
  
    /* Rotate last bar */
    .hamburger-on-container .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
      transform: rotate(45deg) translate(-8px, -8px) ;
    }
  }
}
