// partials
@import '../styles/colors';
@import '../styles/fonts';

// categories
@import '../styles/buttons';
@import '../styles/links';
@import '../styles/fields';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: $churchCrab;
  color: $faceBusiness;
}

h1 {
  margin: 40px;
  font-size: 48px;
  font-family: $boujee;
  font-weight: lighter;
  letter-spacing: 0.2em;
  text-align: center;
}

h2 {
  font-size: 36px;
  font-family: $boujee;
  font-weight: lighter;
}

p {
  margin: 10px 0;
  font-size: 16px;
  font-family: $classy;
}

ul {
  padding-left: 20px;
  font-family: $classy;
  list-style-type: none;

  li:before {
    content: "- ";
  }
}
