// partials
@import '../styles/colors';
@import '../styles/fonts';

// categories
@import '../styles/buttons';
@import '../styles/links';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: $churchCrab;
}

h1 {
  margin: 20px;
  font-size: 48px;
  font-family: $boujee;
  font-weight: lighter;
}

h2 {
  font-size: 36px;
  font-family: $boujee;
  font-weight: lighter;
}

p {
  margin: 10px 0;
  font-family: $classy;
}

.BtnInstagram {
  position: absolute;
  top: 0px;
  right: 0px;
}