/* Just some sample styles */

label {
  display: inline;
  font-size: 90%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  padding-left: 17px;
  height: 30px;
  -webkit-appearance: none;
  appearance: none;
  /* vertical-align: text-bottom; */
  display: none;
}

.myInput {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 30px;
  margin: 15px;
}

.ContactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 600px;
  font-family: Arial, Helvetica, sans-serif;
}

.contactFormSubmit {
  width: 120px;
  height: 40px;
  color: antiquewhite;
  background: black;
}

.contactFormReset {
  width: 120px;
  height: 40px;
  background: white;
}