@mixin bp($point) {
  @if $point == tablet {
    @media (max-width: 768px) { @content; }
  }
  @else if $point == mobile {
    @media (max-width: 375px) { @content; }
  }
}

.ContactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  width: 600px;
  font-family: inherit;
  margin: auto;
  -webkit-appearance: none;
  appearance: none;

  label, .blockInfo {
    display: block;
    float: left;
    color: black;
    margin: 15px 15px -6px 15px;
    width: 586px;

    @include bp(tablet) {
      width: 70%;
    }

    @include bp(mobile) {
      width: 40%;
    }
  }

  //This controls the placeholder colour in the date field
  input[type="date" i] {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: grey !important;
  }
  .textBox {
    height: 60px;
    margin-left: 6px;
    margin-top: 10px;
    width: 100%;
    border-color: #80808059;

    @include bp(tablet) {
      width: 70%;
    }

    @include bp(mobile) {
      width: 40%;
    }
  }
  .myInput {
    width: 100%;
    height: 40px;
    margin: 7px;
    
    @include bp(tablet) {
      width: 70%;
    }

    @include bp(mobile) {
      width: 40%;
    }
  }

  .rw-dropdown-list-input {
    height: 40px;
  }
  .dropdownLabel {
    display: flex;
    flex-direction: column;
  }
}


.contactFormSubmit {
  margin-left: 5px;
}

.contactFormReset {
  width: 120px;
  height: 40px;
  padding-left: 15px;
  background: white;
  display: none;
}
  



