/* Just some sample styles */

.myInput {
  width: 250px;
  height: 30px;
  margin: 15px;
}

.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 600px;
  font-family: Arial, Helvetica, sans-serif;
}

.contactFormSubmit {
  width: 120px;
  height: 40px;
  color: antiquewhite;
  background: black;
}

.contactFormReset {
  width: 120px;
  height: 40px;
  
  background: white;
}