label, .blockInfo {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  float: left;
  font-size: 13px;
  color: rgba(88, 87, 87, 0.75);
  margin: 15px 15px -6px 15px;
  width: 586px;
}

input[type="date" i] {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: grey !important;
}

#textBox {
  height: 80px;
}

.myInput {
  width: 586px;
  height: 40px;
  margin: 7px;
}

.ContactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  width: 600px;
  font-family: inherit;
  margin: auto;
}

.rw-dropdown-list-input {
  background-color: transparent;
  vertical-align: middle;
  padding-right: 0;
  max-width: 1px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 40px;
}

.contactFormSubmit {
  width: 120px;
  height: 40px;
  color: antiquewhite;
  background: black;
}

.contactFormReset {
  width: 120px;
  height: 40px;
  background: white;
}