@import '../../styles/colors';
@import '../../styles/fonts';

.Footer {
  margin: 0 10%;
  border-top: 1px solid $faceBusiness;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-family: $classy;
    
    .legal {
      margin: 0 10px;
      
      a {
        margin: 0 10px;
      }
    }

    .socials {
      margin: 0 10px;
      display: flex;
      align-items: center;

      p {
        padding: 0 10px;
        font-size: 12px;
      }

      .BtnInstagram {
        display: flex;
        align-items: center;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 16px;
      }
    }
  }

  .copyright {
    margin: 0 10px;
    margin-bottom: 20px;
    font-size: 12px;
    font-family: $classy;
  }
}
