@import '../../styles/colors';

@mixin bp($point) {
  @if $point == tablet {
    @media (max-width: 768px) { @content; }
  }
  @else if $point == mobile {
    @media (max-width: 375px) { @content; }
  }
}

.HomePage {
  .about, .about * {
    background-color: $churchCrab;
  }

  .about {
    width: 50vw;
    margin: 40px auto;
    padding: 40px;
    text-align: center;

    h1 {
      margin-top: 0;
    }

    p {
      color: $faceBusiness;
    }
  }

  .hero-banner {
    background-image: url("../../media/homepage-hero.jpeg");
    height: 100vh;
    background-attachment: fixed;
    background-position: center 150px;
    background-repeat: no-repeat;
    background-size: cover;

    @include bp(tablet) {
      background-attachment: scroll;
    }
  }
}
