@import "../../styles/colors";

@mixin bp($point) {
  @if $point == smallScreen {
    @media (max-width: 1200px) {
      @content;
    }
  } @else if $point == tablet {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $point == mobile {
    @media (max-width: 520px) {
      @content;
    }
  } @else if $point == smallMobile {
    @media (max-width: 375px) {
      @content;
    }
  }
}

.HomePage {
  // LEFTOFF
  // - add logo (DO THIS FIRST INCASE IT CHANGES SIZE OF BANNER WHICH WOULD CHANGE SIZE OF HERO IMAGE)
  // - chop off top so always starts at that point
  // - get rid of that cream padding
  // - chop off some of bottom too
  // - add email icon next to top right insta icon
  // - edit beauty photos (reupload all in exact order + remove the shit one and replace with another of that blonde chick)

  .main-img-container {
    width: 100%;
    padding: 200px 23vw 0 23vw;
    display: flex;
    justify-content: center;

    @include bp(smallScreen) {
      padding: 200px 15vw 0 15vw;
    }

    @include bp(tablet) {
      padding: 200px 10vw 0 10vw;
    }

    @include bp(mobile) {
      padding: 200px 7vw 0 7vw;
    }

    @include bp(smallMobile) {
      padding: 200px 5vw 0 5vw;
    }

    .main-img {
      width: 100vw;
    }
  }

  .article-background {
    padding: 5vw 18vw;

    @include bp(smallScreen) {
      padding: 5vw 18vw;
    }

    @include bp(tablet) {
      padding: 5vw 15vw;
    }

    @include bp(mobile) {
      padding: 5vw 10vw;
    }

    @include bp(smallMobile) {
      padding: 5vw 8vw;
    }

    &:nth-of-type(2n + 1) {
      background-color: $burningHarpy;

      * {
        background-color: $burningHarpy;
      }

      .summary-img-text-container {
        justify-content: flex-start;
      }
    }

    &:nth-of-type(2n) {
      .summary-img-text-container {
        justify-content: flex-end;

        @include bp(mobile) {
          flex-direction: column;
        }
      }
    }

    &:nth-of-type(2) {
      h1 {
        margin: 0;
        margin-right: 40px;

        @include bp(mobile) {
          margin: 0;
        }
      }
    }

    &:first-of-type {
      margin-top: 50px;
    }

    &:last-of-type {
      margin-bottom: 50px;
    }
  }

  .summary-img-text-container {
    display: flex;
    align-items: center;
    opacity: 0;

    @include bp(mobile) {
      flex-direction: column-reverse;
    }

    &.fade-in-anim {
      -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
      animation: fadein 1s;
      opacity: 1;
    }

    .long-title {
      display: flex;
      flex-direction: column;

      &.slide-in-anim {
        position: relative;
        -webkit-animation: slidein 2s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: slidein 2s; /* Firefox < 16 */
        -ms-animation: slidein 2s; /* Internet Explorer */
        -o-animation: slidein 2s; /* Opera < 12.1 */
        animation: slidein 1s;
      }
    }

    h1 {
      margin: 0;
      margin-left: 40px;
      text-align: left;

      @include bp(tablet) {
        font-size: 36px;
      }

      @include bp(mobile) {
        margin: 0;
        font-size: 32px;
      }

      @include bp(smallMobile) {
        font-size: 28px;
      }

      &.slide-in-anim {
        position: relative;
        -webkit-animation: slidein 2s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: slidein 2s; /* Firefox < 16 */
        -ms-animation: slidein 2s; /* Internet Explorer */
        -o-animation: slidein 2s; /* Opera < 12.1 */
        animation: slidein 1s;
      }

      &.slide-in-rev-anim {
        position: relative;
        -webkit-animation: slidein 2s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: slidein 2s; /* Firefox < 16 */
        -ms-animation: slidein 2s; /* Internet Explorer */
        -o-animation: slidein 2s; /* Opera < 12.1 */
        animation: slideinrev 1s;
      }
    }

    .summary-img-container {
      width: 480px;
      display: flex;
      justify-content: center;

      @include bp(smallScreen) {
        width: 400px;
      }

      @include bp(mobile) {
        margin-top: 20px;
        width: 100%;
      }

      .summary-img {
        width: 100%;
        height: 100%;
      }

      &.slide-in-anim {
        position: relative;
        -webkit-animation: slidein 1s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: slidein 1s; /* Firefox < 16 */
        -ms-animation: slidein 1s; /* Internet Explorer */
        -o-animation: slidein 1s; /* Opera < 12.1 */
        animation: slidein 1s;
      }

      &.slide-in-rev-anim {
        position: relative;
        -webkit-animation: slidein 1s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: slidein 1s; /* Firefox < 16 */
        -ms-animation: slidein 1s; /* Internet Explorer */
        -o-animation: slidein 1s; /* Opera < 12.1 */
        animation: slideinrev 1s;
      }
    }
  }

  .call-to-action {
    padding: 10vw 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include bp(smallScreen) {
      padding: 8vw 20vw;
    }

    @include bp(tablet) {
      padding: 7vw 15vw;
    }

    @include bp(mobile) {
      padding: 6vw 11vw;
    }

    @include bp(smallMobile) {
      padding: 5vw 9vw;
    }

    h1,
    p {
      text-align: center;
    }

    p {
      font-size: 20px;

      @include bp(mobile) {
        margin: 0;
        font-size: 18px;
      }

      @include bp(smallMobile) {
        font-size: 16px;
      }
    }

    h1 {
      // can't figure out why this is needed to get it centered.
      // can't fix with flexbox or text-align...
      padding-left: 11px;

      @include bp(smallScreen) {
        padding-left: 10px;
      }

      @include bp(tablet) {
        padding-left: 9px;
      }
    }

    .BtnBookNow {
      margin-top: 70px;
    }
  }
}

@keyframes slidein {
  from {
    right: -25px;
  }
  to {
    right: 0px;
  }
}

/* Firefox < 16 */
@-moz-keyframes slidein {
  from {
    right: -25px;
  }
  to {
    right: 0px;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes slidein {
  from {
    right: -25px;
  }
  to {
    right: 0px;
  }
}

/* Internet Explorer */
@-ms-keyframes slidein {
  from {
    right: -25px;
  }
  to {
    right: 0px;
  }
}

/* Opera < 12.1 */
@-o-keyframes slidein {
  from {
    right: -25px;
  }
  to {
    right: 0px;
  }
}

@keyframes slideinrev {
  from {
    left: -25px;
  }
  to {
    left: 0px;
  }
}

/* Firefox < 16 */
@-moz-keyframes slideinrev {
  from {
    left: -25px;
  }
  to {
    left: 0px;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes slideinrev {
  from {
    left: -25px;
  }
  to {
    left: 0px;
  }
}

/* Internet Explorer */
@-ms-keyframes slideinrev {
  from {
    left: -25px;
  }
  to {
    left: 0px;
  }
}

/* Opera < 12.1 */
@-o-keyframes slideinrev {
  from {
    left: -25px;
  }
  to {
    left: 0px;
  }
}
