@mixin bp($point) {
  @if $point == tablet {
    @media (max-width: 768px) { @content; }
  }
  @else if $point == mobile {
    @media (max-width: 375px) { @content; }
  }
}

.contactPage {
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;

}

h1 {
  text-align: center;
}

.contactContainer {
  background-color: pink;
  width: 80vw;
  padding: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  
  .grid {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
  }
}


.formContainer {
  
  width: 40%;
  background-color:grey;
  
  @include bp(tablet) {
    order: 2; 
    width: 90%;
  }

  @include bp(mobile) {
    order: 2;
    width: 90%;
  }
}

.infoContainer {
  
  width: 40%;
  background-color: green;
  

  @include bp(tablet) {
    order: 1; 
    width: 90%;
  }

  @include bp(mobile) {
    order: 1; 
    width: 90%;
  }
}

